.titleText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titleText:hover {
  white-space: normal;
  background-color: black;
  position: relative;
  overflow: visible;
  z-index: 1;
}
