.header {
  height: 5rem;
}

.roundedBtn {
  display: block;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.roundedBtn:hover {
  cursor: pointer;
}

.logo {
  font-size: 2rem !important;
}

@media (max-width: 768px) {
  .logo {
    font-size: 1.5rem !important;
  }
}
