@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Lato', sans-serif;
  color: #414141;
  background-color: #e4f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  color: #2b2b2b;
}

.posterlink {
  display: 'block';
  text-decoration: 'none';
  color: 'black';
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}

.center {
  margin: auto;
  text-align: center;
}

.buttonSize {
  width: 15%;
}

@media (max-width: 900px) {
  .searchProfile {
    width: 25% !important;
  }

  .inputProfile {
    width: 25% !important;
  }
}

@media (min-width: 900px) {
  .divProfile {
    width: 65% !important;
  }
}

@media (max-width: 768px) {
  .divProfile {
    width: 100% !important;
  }

  .buttonSize {
    width: 35%;
  }
}
